name: novel_day
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.5.3

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.10.3
  lottie: ^3.2.0
  shared_preferences: ^2.2.3
  purchases_flutter: ^8.4.0
  google_mobile_ads: ^5.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/lottie/writing_book1.json
    - assets/lottie/writing_book2.json
    - assets/book_shelf.png
    - assets/book_original.png